
.common__search{
  width: 500px;

  margin: 0 auto;
}

.search-input {
  height: 61px;
  width: 100%;

  padding: 0 10px;
  
  background-color: #FFFFFF;
  
  font-size: 48px;
}

.search-input:focus{
  color:#000000;
}

.search-input::placeholder{
  color:#7a7a7a49;
}

.search__nav {
  display: flex;
  flex-direction: column;

}

.nav__btn{
  /* height: 44px; */
  width: 100%;

  padding: 2px 10px;

  background-color: #E3E3E3;
  border: 2px solid #000000;

  font-size: 30px;
  text-align: start;
}

.nav__btn:hover {
  background-color: #65CDF9;
}